<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Successfully</title>
    <link rel="stylesheet" href="css/aftersignup.css">

</head>
<body>
    
  <video width="1512.5px" src="images/back.mp4"  autoplay loop muted></video>

    <h1>Registration Successful</h1>
    <a href="http://localhost:3000/signup">Click To LogIn</a>
</body>
</html>