<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/index.css">
   

</head>
<body>
  <video width="1512.5px" src="images/back.mp4"  autoplay loop muted></video>

  <h1>Welcome To Google <br>Gemini </h1>
  
  <a href="http://localhost:3000/signup" class="btn btn-primary" id="btn">Register Now</a>
  
</body>
</html>
